<nav id="my-menu">
  <div>
    <p>{{ site.title }}</p>
    <ul class="pages">
      <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="/posts/"><i class="fa fa-archive"></i> All Posts</a></li>
      <li><a href="/search/"><i class="fa fa-search"></i> Search</a></li>
    </ul>
    <p class="links">
      {% if site.wordpress_link %}<a href="{{ site.wordpress_link }}" target="_new"><i class="fa fa-wordpress "></i></a>{% endif %}
                {% if site.behance_link %}<a href="{{ site.behance_link }}" target="_new"><i class="fa fa-behance "></i></a>{% endif %}
                {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_new"><i class="fa fa-github "></i></a>{% endif %}
                {% if site.stackoverflow_link %}<a href="{{ site.stackoverflow_link }}" target="_new"><i class="fa fa-stack-overflow "></i></a>{% endif %}
    </p>
    <hr />
      <li>
        <p style="color:#FFFFFF;font-size:12px;">不妨微信扫描打赏我杯咖啡吧，我将更有动力。</p>
          <img src="/image/wxzf.jpg" />
      </li>
  </div>
</nav>
<div class="menu-button" href="#menu"><i class="fa fa-bars"></i></div>
